/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: diabloFont;
  src: local("diablo_h"),
       local("diablo h"),
       url(../fonts/diablo_h.ttf);
  /* font-weight: bold; */
  color:#f7ddac;
}   
   
.hidden{
	display:none;
}
   
body{
	background: url(../img/mainBackground.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow:hidden;
	position:relative;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index:100;
}
#wrapper{
	background-color: rgba(0, 0, 0, 0.1);
}

#backgroundPlayer{display:none;}

.mutingButtons{
	right:0;
	bottom:0;
	height:40px;
	width:40px;
	z-index: 9999;
    position: absolute;
    margin: 0px 10px 10px 0px;	
}

#unmutedButton{
	display:block;
}
#mutedButton{
	display:none;
}
   
/*
	Building the menu
*/

#menuID{
	background: url(../img/menuBackground2.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 800px;
	height: 500px;
	background-color:blue;
	border: 2px solid #000;
	/* border: 14px solid transparent; */
	/* -webkit-border-image: url(../img/topBorder.png) 30 stretch; /* Safari 3.1-5 */ */
    /* -o-border-image: url(../img/topBorder.png) 30 stretch; /* Opera 11-12.1 */ */
    /* border-image: url(../img/topBorder.png) 30 stretch; */
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.75);
	border-radius:5px;
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.menu{

} 
.menu a{
	color:#f7ddac;
	font-size:12px;
	text-decoration:none;
	text-transform:uppercase;
	line-height:normal;
	vertical-align:middle;
	font-family: diabloFont;
	display:block;
	height: 25px;
    padding: 5px 0px 0px 0px;
} 

.menuBoxLeft{
	/* height:74%; */
	width:26%;
	/* background-color:green; */
	float:left;
	border: 1px grey solid;
	margin:4% 0% 0% 0%;
	border-radius:10	px;
}
select{
	background-color: #660211;
	border
}
select option{
	background-color: #660211;
	border:solid 1px black;
}

.menuBoxLeft ul{
	padding:0px;
}

.menuBoxLeft ul li{
	list-style:none;
	background-image: url(../img/unselectedButton.png);
	background-repeat: no-repeat;
	margin:0 auto;
	width:100%;
	text-align:center;
	padding:6px 0px;
}

.menuBoxLeft ul li:hover{
	background-image: url(../img/selectedButton.png);
}

.menuBoxLeft ul li a{

}

.menuBoxRight{
	/* height:86%; */
	width:62%;
	/* background-color:yellow; */
	float:left;
	color: #f7ddac;
	margin:4% 0% 0% 0%;
	border-radius:10px;
	font-family: diabloFont;
	text-transform:uppercase;
}
.menuBoxRight li{
	text-decoration:none;
	list-style:none;
}
.menuBoxRight ul li p{
	margin: 10px 0px 0px 0px;
}

.menuBoxButtons{
	height:10%;
	width:100%;
	/* background-color:red; */
	float:left;
}
.menuBoxButtons ul li{
	list-style:none;
	background-image: url(../img/unselectedButton.png);
	background-repeat: no-repeat;
	margin:0 auto;
	width:26%;
	text-align:center;
	padding:6px 0px;
	float:left;
}
.menuBoxButtons ul li:hover{
	background-image: url(../img/selectedButton.png);
}
.menuBoxButtons ul li:first-child{
	margin-right:20%;
}

.menuBorderImage { 
	background-image: url(../img/menuItemBackground.png);
	background-repeat: no-repeat;
	background-position: -7px;
	margin:0 auto;
    border: 14px solid transparent;
	height:66%;
    /* padding: 15px; */
	margin: 10% 1% 0% 1%;
    -webkit-border-image: url(../img/borders.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/borders.jpg) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../img/borders.png) 30 stretch;
}
   
#slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}







input[type=range] {
  -webkit-appearance: none;
  margin: 12px 0px 20px 0px;
  width: 90%;
  border-radius:5px;
  opacity:0.6;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: red;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: red;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}





   
   
#videoItems{display:block;}
#soundItems{display:none;}
#keybindItems{display:none;}



/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
